@import '@fontsource/unbounded/400.css';
@import '@fontsource/unbounded/600.css';
@import '@fontsource/inter';

:root {
	--font-body: "Inter", sans-serif;
	--font-head: "Unbounded", sans-serif;
	--color-bg-0: rgb(255, 255, 255);
	--color-text: rgb(0, 0, 0);
	--theme-primary: #0F1538;

	font-family: var(--font-body);
	color: var(--color-text);
}

body {
	background-color: var(--color-bg-0);
	-ms-overflow-style: none;
	scrollbar-width: none;
	margin: 0 1rem;
}

body::-webkit-scrollbar {
	display: none;
}

a {
	text-decoration: none;
	color: var(--color-text);
}

h1 {
	font-size: 2rem;
	text-align: center;
}

h2 {
	font-size: 1rem;
}

input,
button {
	font-size: inherit;
	font-family: inherit;
}

button:focus:not(:focus-visible) {
	outline: none;
}

li {
	list-style: none;
}

@media (min-width: 720px) {

}

.visually-hidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: auto;
	margin: 0;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
	white-space: nowrap;
}

